[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

ipython = "*"
numpy = "*"
sympy = "*"
scipy = "*"
petsc = "*"
"mpi4py" = "*"
"petsc4py" = "*"
"progressbar2" = "*"
ipdb = "*"


[dev-packages]



[requires]

python_version = "3.6"
